* {
    padding: 0;
    margin: 0;
}

.center {
    padding: 0 6.5vw;
}

a {
    text-decoration: none;
}

/* ------------ Прижатие футера ------------ */

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

.header, .footer {
    height: 5vh;
    background-color: lightskyblue;
}

/* ----------------------------------------- */

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn_cart {
    width: 200px;
    height: 30px;
}

/* .content {} */

.products {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 90vh;
}

.product__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    min-height: 200px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    margin: 10px 0;
}

.product__item > h3 {
    width: 100%;
    line-height: 36px;
    text-align: center;
    color: dimgray;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: #E0E0E0;
    margin-bottom: 15px;
}

.product__item > img {
    height: 140px;
    width: 200px;
    margin-bottom: 15px;
}

.img_blank {
    height: 140px;
    width: 200px;
    border: 1px solid #E0E0E0;
    margin-bottom: 15px;
}

.product__item > p {
    color: dodgerblue;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.buy__btn {
    width: 200px;
    height: 30px;
    margin-bottom: 15px;
}

/* -------Далее расчет бургера------- */

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 100px;
}

.burger > button {
    width: 250px;
    height: 35px;
    border-radius: 4px;
    background-color: greenyellow;
}